USE [master]
GO
/****** Object:  Database [Assigment2_LeAnhNguyen]    Script Date: 2/6/2021 9:38:38 PM ******/
CREATE DATABASE [Assigment2_LeAnhNguyen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assigment2_LeAnhNguyen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Assigment2_LeAnhNguyen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assigment2_LeAnhNguyen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Assigment2_LeAnhNguyen_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assigment2_LeAnhNguyen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assigment2_LeAnhNguyen]
GO
/****** Object:  Table [dbo].[answerContentTBL]    Script Date: 2/6/2021 9:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answerContentTBL](
	[idAnswerContent] [nchar](20) NOT NULL,
	[content_question] [nchar](1000) NULL,
	[idQuestion] [nchar](20) NOT NULL,
 CONSTRAINT [PK_answerContentTBL] PRIMARY KEY CLUSTERED 
(
	[idAnswerContent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questionTBL]    Script Date: 2/6/2021 9:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questionTBL](
	[idQuestion] [nchar](20) NOT NULL,
	[question_content] [nchar](1000) NULL,
	[answer_correct] [nchar](1000) NULL,
	[createDate] [nchar](100) NULL,
	[subjectID] [nchar](20) NULL,
	[status] [nchar](9) NULL,
 CONSTRAINT [PK_questionTBL] PRIMARY KEY CLUSTERED 
(
	[idQuestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[randomQuizTBL]    Script Date: 2/6/2021 9:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[randomQuizTBL](
	[idRandom] [int] IDENTITY(1,1) NOT NULL,
	[question_content] [nchar](1000) NULL,
	[answer_correct] [nchar](1000) NULL,
	[idQuestion] [nchar](20) NULL,
	[status] [nchar](9) NULL,
	[subjectID] [nchar](20) NULL,
 CONSTRAINT [PK_randomQuizTBL] PRIMARY KEY CLUSTERED 
(
	[idRandom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[studentHistoryTBL]    Script Date: 2/6/2021 9:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[studentHistoryTBL](
	[idHistory] [int] IDENTITY(1,1) NOT NULL,
	[courseName] [nchar](20) NULL,
	[score] [int] NULL,
	[date] [nchar](100) NULL,
	[status] [nchar](10) NULL,
	[userEmail] [nchar](20) NULL,
 CONSTRAINT [PK_studentHistoryTBL] PRIMARY KEY CLUSTERED 
(
	[idHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjectTBL]    Script Date: 2/6/2021 9:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjectTBL](
	[subjectID] [nchar](20) NOT NULL,
	[subjectName] [nchar](30) NULL,
	[subjectStatus] [nchar](20) NULL,
	[timeQuiz] [nchar](10) NULL,
 CONSTRAINT [PK_subjectTBL] PRIMARY KEY CLUSTERED 
(
	[subjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExams]    Script Date: 2/6/2021 9:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExams](
	[userEmail] [nchar](20) NOT NULL,
	[subjectID] [nchar](20) NOT NULL,
	[score] [int] NULL,
	[answerSheet] [nchar](30) NULL,
 CONSTRAINT [PK_UserExams] PRIMARY KEY CLUSTERED 
(
	[userEmail] ASC,
	[subjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userTBL]    Script Date: 2/6/2021 9:38:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userTBL](
	[userEmail] [nchar](20) NOT NULL,
	[userName] [nchar](30) NULL,
	[userPassword] [nchar](1000) NULL,
	[userRole] [nchar](10) NULL,
	[userStatus] [nchar](10) NULL,
 CONSTRAINT [PK_userTBL] PRIMARY KEY CLUSTERED 
(
	[userEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[subjectTBL] ([subjectID], [subjectName], [subjectStatus], [timeQuiz]) VALUES (N'1                   ', N'Java Web                      ', N'New                 ', N'3600      ')
INSERT [dbo].[subjectTBL] ([subjectID], [subjectName], [subjectStatus], [timeQuiz]) VALUES (N'2                   ', N'Java OOP                      ', N'New                 ', N'4800      ')
GO
ALTER TABLE [dbo].[answerContentTBL]  WITH CHECK ADD  CONSTRAINT [FK_answerContentTBL_questionTBL] FOREIGN KEY([idQuestion])
REFERENCES [dbo].[questionTBL] ([idQuestion])
GO
ALTER TABLE [dbo].[answerContentTBL] CHECK CONSTRAINT [FK_answerContentTBL_questionTBL]
GO
ALTER TABLE [dbo].[questionTBL]  WITH CHECK ADD  CONSTRAINT [FK_questionTBL_subjectTBL] FOREIGN KEY([subjectID])
REFERENCES [dbo].[subjectTBL] ([subjectID])
GO
ALTER TABLE [dbo].[questionTBL] CHECK CONSTRAINT [FK_questionTBL_subjectTBL]
GO
ALTER TABLE [dbo].[randomQuizTBL]  WITH CHECK ADD  CONSTRAINT [FK_randomQuizTBL_subjectTBL] FOREIGN KEY([subjectID])
REFERENCES [dbo].[subjectTBL] ([subjectID])
GO
ALTER TABLE [dbo].[randomQuizTBL] CHECK CONSTRAINT [FK_randomQuizTBL_subjectTBL]
GO
ALTER TABLE [dbo].[studentHistoryTBL]  WITH CHECK ADD  CONSTRAINT [FK_studentHistoryTBL_userTBL] FOREIGN KEY([userEmail])
REFERENCES [dbo].[userTBL] ([userEmail])
GO
ALTER TABLE [dbo].[studentHistoryTBL] CHECK CONSTRAINT [FK_studentHistoryTBL_userTBL]
GO
ALTER TABLE [dbo].[UserExams]  WITH CHECK ADD  CONSTRAINT [FK_UserExams_subjectTBL] FOREIGN KEY([subjectID])
REFERENCES [dbo].[subjectTBL] ([subjectID])
GO
ALTER TABLE [dbo].[UserExams] CHECK CONSTRAINT [FK_UserExams_subjectTBL]
GO
ALTER TABLE [dbo].[UserExams]  WITH CHECK ADD  CONSTRAINT [FK_UserExams_userTBL] FOREIGN KEY([userEmail])
REFERENCES [dbo].[userTBL] ([userEmail])
GO
ALTER TABLE [dbo].[UserExams] CHECK CONSTRAINT [FK_UserExams_userTBL]
GO
USE [master]
GO
