<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterManager</filter-name>
        <filter-class>nguyenla.controller.FilterManager</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterManager</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>nguyenla.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>nguyenla.controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>nguyenla.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>nguyenla.controller.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeServlet</servlet-name>
        <servlet-class>nguyenla.controller.LoadHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionSubjectServlet</servlet-name>
        <servlet-class>nguyenla.controller.QuestionSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>nguyenla.controller.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInforServlet</servlet-name>
        <servlet-class>nguyenla.controller.GetInforServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <servlet-class>nguyenla.controller.SearchQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <servlet-class>nguyenla.controller.UpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultQuizServlet</servlet-name>
        <servlet-class>nguyenla.controller.ResultQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizServlet</servlet-name>
        <servlet-class>nguyenla.controller.DoQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHistoryServlet</servlet-name>
        <servlet-class>nguyenla.controller.StudentHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserHistoryServlet</servlet-name>
        <servlet-class>nguyenla.controller.GetUserHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>nguyenla.controller.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDoQuizServlet</servlet-name>
        <servlet-class>nguyenla.controller.CheckDoQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEditServlet</servlet-name>
        <servlet-class>nguyenla.controller.CheckEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDeleteServlet</servlet-name>
        <servlet-class>nguyenla.controller.CheckDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDetailsServlet</servlet-name>
        <servlet-class>nguyenla.controller.HistoryDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeServlet</servlet-name>
        <url-pattern>/LoadHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionSubjectServlet</servlet-name>
        <url-pattern>/QuestionSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInforServlet</servlet-name>
        <url-pattern>/GetInforServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionServlet</servlet-name>
        <url-pattern>/SearchQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultQuizServlet</servlet-name>
        <url-pattern>/ResultQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizServlet</servlet-name>
        <url-pattern>/DoQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHistoryServlet</servlet-name>
        <url-pattern>/StudentHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserHistoryServlet</servlet-name>
        <url-pattern>/GetUserHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDoQuizServlet</servlet-name>
        <url-pattern>/CheckDoQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEditServlet</servlet-name>
        <url-pattern>/CheckEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDeleteServlet</servlet-name>
        <url-pattern>/CheckDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDetailsServlet</servlet-name>
        <url-pattern>/HistoryDetailsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>SE141102</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
